# AB Testing Using Python

## 1. AB Testing (BaÄŸÄ±msÄ±z Ä°ki Ã–rneklem T Testi)

 * ðŸ“Œ Ä°ki grup ortalamasÄ± arasÄ±nda karÅŸÄ±laÅŸtÄ±rma yapÄ±lmak istenildiÄŸinde kullanÄ±lÄ±r.

### 2. AB Testing (Ä°ki Ã–rneklem Oran Testi)
  
  * ðŸ“Œ Ä°ki oran arasÄ±nda karÅŸÄ±laÅŸtÄ±rma yapmak iÃ§in kullanÄ±lÄ±r.

### 3. ANOVA (Analysis of Variance)

  * ðŸ“Œ Ä°kiden fazla grup ortalamasÄ±nÄ± karÅŸÄ±laÅŸtÄ±rmak iÃ§in kullanÄ±lÄ±r.

# AB Testing (BaÄŸÄ±msÄ±z Ä°ki Ã–rneklem T Testi)

*ðŸ“Œ Ä°ki grup ortalamasÄ± arasÄ±nda karÅŸÄ±laÅŸtÄ±rma yapÄ±lmak istenildiÄŸinde kullanÄ±lÄ±r.*

AB Testi yapmak iÃ§in gereken aÅŸamalar:
1. Hipotezleri Kur
2. VarsayÄ±m KontrolÃ¼
  * Normallik VarsayÄ±mÄ±
  * Varyans HomojenliÄŸi
3. Hipotezin UygulanmasÄ±
  * VarsayÄ±mlar saÄŸlanÄ±yorsa baÄŸÄ±msÄ±z iki Ã¶rneklem t testi (parametrik test)
  * VarsayÄ±mlar saÄŸlanmÄ±yorsa mannwhitneyu testi (non-parametrik test)
4. p-value deÄŸerine gÃ¶re sonuÃ§larÄ± yorumla

**Not:**

* Normallik saÄŸlanmÄ±yorsa direk 2 numara. Varyans homojenliÄŸi saÄŸlanmÄ±yorsa 1 numaraya arguman girilir.

* Normallik incelemesi Ã¶ncesi aykÄ±rÄ± deÄŸer incelemesi ve dÃ¼zeltmesi yapmak faydalÄ± olabilir.

## Uygulama-1

Sigara Ä°Ã§enler ile Ä°Ã§meyenlerin Hesap OrtalamalarÄ± ArasÄ±nda Ä°statistiksel Olarak AnlamlÄ± FarklÄ±lÄ±k Var mÄ±?

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.groupby("smoker").agg({"total_bill":"mean"})

        total_bill
smoker
Yes      20.756344
No       19.188278

### H0: M1 = M2
### H1: M1 != M2

In [ ]:
from scipy.stats import shapiro
import scipy.stats as stats
A_T_istatistigi , A_p_value = shapiro(df.loc[df["smoker"]=="Yes", "total_bill"])
B_T_istatistigi , B_p_value = shapiro(df.loc[df["smoker"]=="No", "total_bill"])
print("Normallik => smoker==Yes iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(A_T_istatistigi, A_p_value))
print("Normallik => smoker==NO iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(B_T_istatistigi, B_p_value))
T_istatistigi, p_value = stats.levene(df.loc[df["smoker"]=="Yes", "total_bill"],df.loc[df["smoker"]=="No", "total_bill"])
print("Varyans HomojenliÄŸi = T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
if (A_p_value < 0.05 or B_p_value < 0.05) or (p_value < 0.05):
  print("VarsayÄ±mlar SaÄŸlanmÄ±yor")
  T_istatistigi, p_value = stats.mannwhitneyu(df.loc[df["smoker"]=="Yes", "total_bill"],df.loc[df["smoker"]=="No", "total_bill"])
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")
else:
  print("VarsayÄ±mlar SaÄŸlanÄ±yor")
  T_istatistigi , p_value = stats.ttest_ind(df.loc[df["smoker"]=="Yes", "total_bill"],df.loc[df["smoker"]=="No", "total_bill"], equal_var=True)
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")

Normallik => smoker==Yes iÃ§in: T istatistiÄŸi: 0.9367 , P value deÄŸeri: 0.0002
Normallik => smoker==NO iÃ§in: T istatistiÄŸi: 0.9045 , P value deÄŸeri: 0.0000
Varyans HomojenliÄŸi = T istatistiÄŸi: 4.0537 , P value deÄŸeri: 0.0452
VarsayÄ±mlar SaÄŸlanmÄ±yor
T istatistiÄŸi: 7531.5000 , P value deÄŸeri: 0.3413
FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.

## Uygulama-2

Titanic KadÄ±n ve Erkek YolcularÄ±n YaÅŸ OrtalamalarÄ± ArasÄ±nda Ä°statistiksel Olarak AnlamlÄ± FarklÄ±lÄ±k var mÄ±dÄ±r?

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.groupby("sex").agg({"age":"mean"})

              age
sex
female  27.915709
male    30.726645

### H0: M1 = M2
### H1: M1 != M2

In [ ]:
from scipy.stats import shapiro
import scipy.stats as stats
A_T_istatistigi , A_p_value = shapiro(df.loc[df["sex"]=="female", "age"].dropna())
B_T_istatistigi , B_p_value = shapiro(df.loc[df["sex"]=="male", "age"].dropna())
print("Normallik => sex==female iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(A_T_istatistigi, A_p_value))
print("Normallik => sex==male iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(B_T_istatistigi, B_p_value))
T_istatistigi, p_value = stats.levene(df.loc[df["sex"]=="female", "age"].dropna(),df.loc[df["sex"]=="male", "age"].dropna())
print("Varyans HomojenliÄŸi = T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
if (A_p_value < 0.05 or B_p_value < 0.05) or (p_value < 0.05):
  print("VarsayÄ±mlar SaÄŸlanmÄ±yor")
  T_istatistigi, p_value = stats.mannwhitneyu(df.loc[df["sex"]=="female", "age"].dropna(),df.loc[df["sex"]=="male", "age"].dropna())
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")
else:
  print("VarsayÄ±mlar SaÄŸlanÄ±yor")
  T_istatistigi , p_value = stats.ttest_ind(df.loc[df["sex"]=="female", "age"].dropna(),df.loc[df["sex"]=="male", "age"].dropna(), equal_var=True)
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")

Normallik => sex==female iÃ§in: T istatistiÄŸi: 0.9848 , P value deÄŸeri: 0.0071
Normallik => sex==male iÃ§in: T istatistiÄŸi: 0.9747 , P value deÄŸeri: 0.0000
Varyans HomojenliÄŸi = T istatistiÄŸi: 0.0013 , P value deÄŸeri: 0.9712
VarsayÄ±mlar SaÄŸlanmÄ±yor
T istatistiÄŸi: 53212.5000 , P value deÄŸeri: 0.0261
FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.

## Uygulama-3

Diyabet HastasÄ± Olan ve OlmayanlarÄ±n YaÅŸlarÄ± OrtalamalarÄ± ArasÄ±nda Ä°startistiksel Olarak AnlamlÄ± FarklÄ±lÄ±k var mÄ±dÄ±r?

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets/diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.groupby("Outcome").agg({"Age":"mean"})

               Age
Outcome
0        31.190000
1        37.067164

### H0: M1 = M2
### H1: M1 != M2

In [ ]:
from scipy.stats import shapiro
import scipy.stats as stats
A_T_istatistigi , A_p_value = shapiro(df.loc[df["Outcome"]==1, "Age"].dropna())
B_T_istatistigi , B_p_value = shapiro(df.loc[df["Outcome"]==0, "Age"].dropna())
print("Normallik => Outcome==1 iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(A_T_istatistigi, A_p_value))
print("Normallik => Outcome==0 iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(B_T_istatistigi, B_p_value))
T_istatistigi, p_value = stats.levene(df.loc[df["Outcome"]==1, "Age"].dropna(),df.loc[df["Outcome"]==0, "Age"].dropna())
print("Varyans HomojenliÄŸi = T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
if (A_p_value < 0.05 or B_p_value < 0.05) or (p_value < 0.05):
  print("VarsayÄ±mlar SaÄŸlanmÄ±yor")
  T_istatistigi, p_value = stats.mannwhitneyu(df.loc[df["Outcome"]==1, "Age"].dropna(),df.loc[df["Outcome"]==0, "Age"].dropna())
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")
else:
  print("VarsayÄ±mlar SaÄŸlanÄ±yor")
  T_istatistigi , p_value = stats.ttest_ind(df.loc[df["Outcome"]==1, "Age"].dropna(),df.loc[df["Outcome"]==0, "Age"].dropna(), equal_var=True)
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")

Normallik => Outcome==1 iÃ§in: T istatistiÄŸi: 0.9546 , P value deÄŸeri: 0.0000
Normallik => Outcome==0 iÃ§in: T istatistiÄŸi: 0.8012 , P value deÄŸeri: 0.0000
Varyans HomojenliÄŸi = T istatistiÄŸi: 2.2252 , P value deÄŸeri: 0.1362
VarsayÄ±mlar SaÄŸlanmÄ±yor
T istatistiÄŸi: 92050.0000 , P value deÄŸeri: 0.0000
FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.

## Ä°ÅŸ Problemi

Kursun BÃ¼yÃ¼k Ã‡oÄŸunluÄŸunu Ä°zleyenler ile Ä°zlemeyenlerin PuanlarÄ± Birbirinden FarklÄ± mÄ±?

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/datasets/course_reviews.csv")
df.head()

,Rating,Timestamp,Enrolled,Progress,Questions Asked,Questions Answered
0,5.0,2021-02-05 07:45:55,2021-01-25 15:12:08,5.0,0.0,0.0
1,5.0,2021-02-04 21:05:32,2021-02-04 20:43:40,1.0,0.0,0.0
2,4.5,2021-02-04 20:34:03,2019-07-04 23:23:27,1.0,0.0,0.0
3,5.0,2021-02-04 16:56:28,2021-02-04 14:41:29,10.0,0.0,0.0
4,4.0,2021-02-04 15:00:24,2020-10-13 03:10:07,10.0,0.0,0.0

In [ ]:
df[(df["Progress"]>75)]["Rating"].mean()

4.860491071428571

In [ ]:
df[(df["Progress"]<25)]["Rating"].mean()

4.7225029148853475

### H0: M1 = M2
### H1: M1 != M2

In [ ]:
from scipy.stats import shapiro
import scipy.stats as stats
A_T_istatistigi , A_p_value = shapiro(df[(df["Progress"]>75)]["Rating"])
B_T_istatistigi , B_p_value = shapiro(df[(df["Progress"]<25)]["Rating"])
print("Normallik => Progress > 75 iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(A_T_istatistigi, A_p_value))
print("Normallik => Progress < 25 iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(B_T_istatistigi, B_p_value))
T_istatistigi, p_value = stats.levene(df[(df["Progress"]>75)]["Rating"],df[(df["Progress"]<25)]["Rating"])
print("Varyans HomojenliÄŸi = T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
if (A_p_value < 0.05 or B_p_value < 0.05) or (p_value < 0.05):
  print("VarsayÄ±mlar SaÄŸlanmÄ±yor")
  T_istatistigi, p_value = stats.mannwhitneyu(df[(df["Progress"]>75)]["Rating"],df[(df["Progress"]<25)]["Rating"])
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")
else:
  print("VarsayÄ±mlar SaÄŸlanÄ±yor")
  T_istatistigi , p_value = stats.ttest_ind(df[(df["Progress"]>75)]["Rating"],df[(df["Progress"]<25)]["Rating"], equal_var=True)
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")

Normallik => Progress > 75 iÃ§in: T istatistiÄŸi: 0.3160 , P value deÄŸeri: 0.0000
Normallik => Progress < 25 iÃ§in: T istatistiÄŸi: 0.5710 , P value deÄŸeri: 0.0000
Varyans HomojenliÄŸi = T istatistiÄŸi: 24.9277 , P value deÄŸeri: 0.0000
VarsayÄ±mlar SaÄŸlanmÄ±yor
T istatistiÄŸi: 661481.5000 , P value deÄŸeri: 0.0000
FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.

# AB Testing (Ä°ki Ã–rneklem Oran Testi)

*ðŸ“Œ Ä°ki oran arasÄ±nda karÅŸÄ±laÅŸtÄ±rma yapmak iÃ§in kullanÄ±lÄ±r.*

## Uygyulama-1

Yeni TasarÄ±mÄ±n DÃ¶nÃ¼ÅŸÃ¼m OranÄ± ile Eski TasarÄ±mÄ±n DÃ¶nÃ¼ÅŸÃ¼m OranÄ± ArasÄ±nda Ä°statistiksel Olarak AnlamlÄ± FarklÄ±lÄ±k var mÄ±dÄ±r?

### H0: p1 = p2 (FarklÄ±lÄ±k yoktur)

### H1: p1 != p2 (FarklÄ±lÄ±k vardÄ±r)

In [ ]:
from statsmodels.stats.proportion import proportions_ztest
import numpy as np

basari_sayisi = np.array([300,250])
gozlem_sayisi = np.array([1000,1100])
T_istatistigi, p_value = proportions_ztest(count=basari_sayisi, nobs=gozlem_sayisi)
print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
if p_value < 0.05:
  print("H0 hipotezi reddedilir.")
else:
  print("H0 hipotezi reddedilemez.")

T istatistiÄŸi: 3.7858 , P value deÄŸeri: 0.0002
H0 hipotezi reddedilir.

## Uygyulama-2

KadÄ±n ve Erkeklerin Hayatta Kalma OranlarÄ± ArasÄ±nda Ä°statistiksel Olarak AnlamlÄ± FarklÄ±lÄ±k var mÄ±dÄ±r?

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.loc[df["sex"]=="female","survived"].mean()

0.7420382165605095

In [ ]:
df.loc[df["sex"]=="male","survived"].mean()

0.18890814558058924

In [ ]:
df.groupby("sex").agg({'survived':'mean'})

        survived
sex
female  0.742038
male    0.188908

### H0: p1 = p2 (FarklÄ±lÄ±k yoktur)

### H1: p1 != p2 (FarklÄ±lÄ±k vardÄ±r)

In [ ]:
female_succ_count = df.loc[df["sex"]=="female","survived"].sum()
male_succ_count = df.loc[df["sex"]=="male","survived"].sum()
female_count = df.loc[df["sex"]=="female", "survived"].shape[0]
male_count = df.loc[df["sex"]=="male", "survived"].shape[0]
T_istatistigi, p_value = proportions_ztest(count=[female_succ_count, male_succ_count],
                                           nobs=[female_count, male_count])
print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
if p_value < 0.05:
  print("H0 hipotezi reddedilir.")
else:
  print("H0 hipotezi reddedilemez.")

T istatistiÄŸi: 16.2188 , P value deÄŸeri: 0.0000
H0 hipotezi reddedilir.

# ANOVA (Analysis of Variance)

*ðŸ“Œ Ä°kiden fazla grup ortalamasÄ±nÄ± karÅŸÄ±laÅŸtÄ±rmak iÃ§in kullanÄ±lÄ±r.*

1. Hipotezleri kur

  * HO: m1 = m2 = m3 = m4 (Grup ortalamalarÄ± arasÄ±nda fark yoktur)

  * H1: m1 != m2 != m3 != m4 (Grup ortalamalarÄ± arasÄ±nda fark vardÄ±r)

2. VarsayÄ±m kontrolÃ¼

  * Normallik varsayÄ±mÄ±
  * Varyans homojenliÄŸi varsayÄ±mÄ±

3. Hipotezin UygulanmasÄ±

  * VarsayÄ±m saÄŸlanÄ±yorsa one way anova testi uygulanÄ±r.
  * VarsayÄ±m saÄŸlanmÄ±yorsa kruskal testi uygulanÄ±r.

4. p-value deÄŸerine gÃ¶re sonuÃ§larÄ± yorumla

**Not:**

* Normallik saÄŸlanmÄ±yorsa direk 2 numara. Varyans homojenliÄŸi saÄŸlanmÄ±yorsa 1 numaraya arguman girilir.

* Normallik incelemesi Ã¶ncesi aykÄ±rÄ± deÄŸer incelemesi ve dÃ¼zeltmesi yapmak faydalÄ± olabilir.

## Uygyulama

Ã–denen hesap ile yemek yenilen gÃ¼nler arasÄ±nda istatistiksel olarak anlamlÄ± bir farklÄ±lÄ±k var mÄ±dÄ±r?

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.groupby(["day"]).agg({'total_bill':['mean','median']})

     total_bill
           mean median
day
Thur  17.682742  16.20
Fri   17.151579  15.38
Sat   20.441379  18.24
Sun   21.410000  19.63

In [ ]:
for group in list(df["day"].unique()):
  pvalue = shapiro(df.loc[df["day"]==group, "total_bill"])[1]
  print(group, 'p-value: %.4f' % pvalue)

Sun p-value: 0.0036
Sat p-value: 0.0000
Thur p-value: 0.0000
Fri p-value: 0.0409

### HO: m1 = m2 = m3 = m4

### H1: m1 != m2 != m3 != m4

In [ ]:
from scipy.stats import shapiro, kruskal
import scipy.stats as stats
A_T_istatistigi , A_p_value = shapiro(df.loc[df["day"]=="Sun", "total_bill"])
B_T_istatistigi , B_p_value = shapiro(df.loc[df["day"]=="Sat", "total_bill"])
C_T_istatistigi , C_p_value = shapiro(df.loc[df["day"]=="Thur", "total_bill"])
D_T_istatistigi , D_p_value = shapiro(df.loc[df["day"]=="Fri", "total_bill"])
print("Normallik => Sun iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(A_T_istatistigi, A_p_value))
print("Normallik => Sat iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(B_T_istatistigi, B_p_value))
print("Normallik => Thur iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(C_T_istatistigi, C_p_value))
print("Normallik => Fri iÃ§in: T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(D_T_istatistigi, D_p_value))
T_istatistigi, p_value = stats.levene(df.loc[df["day"]=="Sun", "total_bill"],
                                      df.loc[df["day"]=="Sat", "total_bill"],
                                      df.loc[df["day"]=="Thur", "total_bill"],
                                      df.loc[df["day"]=="Fri", "total_bill"])
print("Varyans HomojenliÄŸi = T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
if (A_p_value < 0.05 or B_p_value < 0.05) or (p_value < 0.05):
  print("VarsayÄ±mlar SaÄŸlanmÄ±yor")
  T_istatistigi, p_value = kruskal(df.loc[df["day"]=="Sun", "total_bill"],
                                      df.loc[df["day"]=="Sat", "total_bill"],
                                      df.loc[df["day"]=="Thur", "total_bill"],
                                      df.loc[df["day"]=="Fri", "total_bill"])
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")
else:
  print("VarsayÄ±mlar SaÄŸlanÄ±yor")
  T_istatistigi, p_value = f_oneway(df.loc[df["day"]=="Sun", "total_bill"],
                                      df.loc[df["day"]=="Sat", "total_bill"],
                                      df.loc[df["day"]=="Thur", "total_bill"],
                                      df.loc[df["day"]=="Fri", "total_bill"])
  print("T istatistiÄŸi: %.4f , P value deÄŸeri: %.4f" %(T_istatistigi, p_value))
  if p_value < 0.05:
    print("FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.")
  else:
    print("FarklÄ±lÄ±k yoktur. H0 hiptezi reddedilemez.")

Normallik => Sun iÃ§in: T istatistiÄŸi: 0.9479 , P value deÄŸeri: 0.0036
Normallik => Sat iÃ§in: T istatistiÄŸi: 0.9035 , P value deÄŸeri: 0.0000
Normallik => Thur iÃ§in: T istatistiÄŸi: 0.8845 , P value deÄŸeri: 0.0000
Normallik => Fri iÃ§in: T istatistiÄŸi: 0.8958 , P value deÄŸeri: 0.0409
Varyans HomojenliÄŸi = T istatistiÄŸi: 0.6654 , P value deÄŸeri: 0.5741
VarsayÄ±mlar SaÄŸlanmÄ±yor
T istatistiÄŸi: 10.4031 , P value deÄŸeri: 0.0154
FarklÄ±lÄ±k vardÄ±r. H0 hipotezi reddedilir.

### **Not:** FarklÄ±lÄ±k hangi gruplar arasÄ±ndadÄ±r?

In [42]:
from statsmodels.stats.multicomp import MultiComparison
comparison = MultiComparison(df["total_bill"],df["day"])
tukey = comparison.tukeyhsd(0.05)
print(tukey.summary())

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
   Fri    Sat   3.2898 0.4554 -2.4802  9.0598  False
   Fri    Sun   4.2584 0.2373 -1.5859 10.1028  False
   Fri   Thur   0.5312    0.9 -5.4437   6.506  False
   Sat    Sun   0.9686 0.8921 -2.6089  4.5462  False
   Sat   Thur  -2.7586 0.2375 -6.5456  1.0284  False
   Sun   Thur  -3.7273 0.0669 -7.6266  0.1721  False
----------------------------------------------------